<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор</title>
    <link rel="stylesheet"  href="../static/styles/style_calc1.css">
    <script src="../js/calc_1.js"></script>
</head>
<body>
    <!-- <header>
        <h2>Header</h2>
    </header>  -->

    <nav class="navbar">
        <ul>
            <li> <a href="calc_2.html">Calc_1</a> </li>
        </ul>    
    </nav>
    <!-- <h1>
    Rалькулятор для перерахунку елементарного складу та нижчої теплоти
    згоряння мазуту на робочу масу для складу горючої маси мазуту,\
    </h1> -->
    <main>
        <main class="container">

            <div class="calculator_input">
                <h2>Параметри розрахунку</h2>
        
                <div class="input-group">
                    <label for="x1">Вуглець</label>
                    <input id="x1" type="number" name="x1" placeholder="%" />
                </div>
        
                <div class="input-group">
                    <label for="x2">Водень</label>
                    <input id="x2" type="number" name="x2" placeholder="%" />
                </div>
        
                <div class="input-group">
                    <label for="x3">Кисень</label>
                    <input id="x3" type="number" name="x3" placeholder="%" />
                </div>
        
                <div class="input-group">
                    <label for="x4">Сірка</label>
                    <input id="x4" type="number" name="x4" placeholder="%" />
                </div>
        
                <div class="input-group">
                    <label for="x5">Нижча теплота згоряння мазуту</label>
                    <input id="x5" type="number" name="x5" placeholder="МДж/кг" />
                </div>
        
                <div class="input-group">
                    <label for="x6">Вологість робочої маси палива</label>
                    <input id="x6" type="number" name="x6" placeholder="%" />
                </div>
        
                <div class="input-group">
                    <label for="x7">Зольність сухої маси</label>
                    <input id="x7" type="number" name="x7" placeholder="%" />
                </div>

                <div class="input-group">
                    <label for="x8">Вміст ванадію</label>
                    <input id="x8" type="number" name="x8" placeholder="мг/кг" />
                </div>
        
                <button class="calc-button" onclick="calculate()">Розрахувати</button>
            </div>

            <div class="calculator_result">
                <h2>Результат</h2>
                <h3><span id="result">Будь ласка, введіть параметри розрахунку</span></h3>
            </div>
            
        </main>
        <div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
         </div>
        <script src="script.js"></script>
        
    </main>
    
</body>
</html>